# In-Class Exercise (Due Feb 6th)

1. Download the Manhattan house price data from Canvas. This dataset includes house transaction data from Manhattan from 2011 to 2017 - bring in the entire folder into your current working directory.

In [1]:
import pandas as pd

In [2]:
# First, let's check our current working directory 

import os 
os.getcwd()

'/Users/yujinlee/Documents/Spring 2026/CRP 5680/Discussion'

In [3]:
# if you want to change your working directory any time in the future 
## change the directory below so that you locate your manhattan folder

os.chdir('/Users/yujinlee/Documents/Spring 2026/CRP 5680/Class Material/manhattan')

In [4]:
## if the name of the columns match, let's concatenate them 

df_combine = pd.DataFrame()

for year in list(range(2011, 2018)):
    df_temp = pd.read_excel(str(year) +  "_manhattan.xlsx")
    if year == 2011:
        df_combine = df_temp
    else: 
        if list(df_combine.columns) == list(df_temp.columns):
            print("columns match")
            df_combine = pd.concat([df_combine, df_temp])
        else: 
            print("columns do not match")
df_combine

columns match
columns match
columns match
columns match
columns match
columns match

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,01 ONE FAMILY HOMES,1,376,43,,S1,743 EAST 6TH STREET,,...,1,1,2,2090,3680,1940,1,S1,10,2011-08-26
1,1,ALPHABET CITY,02 TWO FAMILY HOMES,1,373,1,,S2,40 AVENUE C,,...,2,1,3,1923,4800,1901,1,S2,0,2011-12-21
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,372,31,,C3,316 EAST 3RD STREET,,...,4,0,4,5746,2700,1900,2,C3,3500000,2011-09-08
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,376,54,,C4,719 E 6TH ST,,...,16,0,16,3437,9180,1900,2,C4,2966835,2011-07-25
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,377,2,,C7,116 AVENUE C,,...,22,3,25,4510,19830,1900,2,C7,0,2011-06-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18637,1,WASHINGTON HEIGHTS UPPER,32 HOSPITAL AND HEALTH FACILITIES,4,2152,47,,I9,2414 AMSTERDAM AVENUE,,...,0,3,3,2500,3350,1902,4,I9,1375000,2017-12-08
18638,1,WASHINGTON HEIGHTS UPPER,33 EDUCATIONAL FACILITIES,4,2149,23,,W2,2495 AMSTERDAM AVENUE,,...,0,1,1,29775,253942,1969,4,W2,0,2017-04-21
18639,1,WASHINGTON HEIGHTS UPPER,33 EDUCATIONAL FACILITIES,4,2156,48,,W6,2520 AMSTERDAM AVENUE,,...,0,1,1,25875,140260,1967,4,W6,0,2017-04-21
18640,1,WASHINGTON HEIGHTS UPPER,33 EDUCATIONAL FACILITIES,4,2156,61,,W6,515 WEST 185 STREET,,...,0,1,1,2700,16262,2007,4,W6,0,2017-08-23
18641,1,WASHINGTON HEIGHTS UPPER,38 ASYLUMS AND HOMES,4,2156,71,,N2,536 W. 187TH STREET,,...,0,1,1,1444,3907,1920,4,N2,1100000,2017-09-07

In [5]:
## can we see the columns of the dataframe

df_combine

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,01 ONE FAMILY HOMES,1,376,43,,S1,743 EAST 6TH STREET,,...,1,1,2,2090,3680,1940,1,S1,10,2011-08-26
1,1,ALPHABET CITY,02 TWO FAMILY HOMES,1,373,1,,S2,40 AVENUE C,,...,2,1,3,1923,4800,1901,1,S2,0,2011-12-21
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,372,31,,C3,316 EAST 3RD STREET,,...,4,0,4,5746,2700,1900,2,C3,3500000,2011-09-08
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,376,54,,C4,719 E 6TH ST,,...,16,0,16,3437,9180,1900,2,C4,2966835,2011-07-25
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,377,2,,C7,116 AVENUE C,,...,22,3,25,4510,19830,1900,2,C7,0,2011-06-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18637,1,WASHINGTON HEIGHTS UPPER,32 HOSPITAL AND HEALTH FACILITIES,4,2152,47,,I9,2414 AMSTERDAM AVENUE,,...,0,3,3,2500,3350,1902,4,I9,1375000,2017-12-08
18638,1,WASHINGTON HEIGHTS UPPER,33 EDUCATIONAL FACILITIES,4,2149,23,,W2,2495 AMSTERDAM AVENUE,,...,0,1,1,29775,253942,1969,4,W2,0,2017-04-21
18639,1,WASHINGTON HEIGHTS UPPER,33 EDUCATIONAL FACILITIES,4,2156,48,,W6,2520 AMSTERDAM AVENUE,,...,0,1,1,25875,140260,1967,4,W6,0,2017-04-21
18640,1,WASHINGTON HEIGHTS UPPER,33 EDUCATIONAL FACILITIES,4,2156,61,,W6,515 WEST 185 STREET,,...,0,1,1,2700,16262,2007,4,W6,0,2017-08-23
18641,1,WASHINGTON HEIGHTS UPPER,38 ASYLUMS AND HOMES,4,2156,71,,N2,536 W. 187TH STREET,,...,0,1,1,1444,3907,1920,4,N2,1100000,2017-09-07

In [6]:
## how about the number of rows and columns? (rows, columns) format

df_combine

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,01 ONE FAMILY HOMES,1,376,43,,S1,743 EAST 6TH STREET,,...,1,1,2,2090,3680,1940,1,S1,10,2011-08-26
1,1,ALPHABET CITY,02 TWO FAMILY HOMES,1,373,1,,S2,40 AVENUE C,,...,2,1,3,1923,4800,1901,1,S2,0,2011-12-21
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,372,31,,C3,316 EAST 3RD STREET,,...,4,0,4,5746,2700,1900,2,C3,3500000,2011-09-08
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,376,54,,C4,719 E 6TH ST,,...,16,0,16,3437,9180,1900,2,C4,2966835,2011-07-25
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,377,2,,C7,116 AVENUE C,,...,22,3,25,4510,19830,1900,2,C7,0,2011-06-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18637,1,WASHINGTON HEIGHTS UPPER,32 HOSPITAL AND HEALTH FACILITIES,4,2152,47,,I9,2414 AMSTERDAM AVENUE,,...,0,3,3,2500,3350,1902,4,I9,1375000,2017-12-08
18638,1,WASHINGTON HEIGHTS UPPER,33 EDUCATIONAL FACILITIES,4,2149,23,,W2,2495 AMSTERDAM AVENUE,,...,0,1,1,29775,253942,1969,4,W2,0,2017-04-21
18639,1,WASHINGTON HEIGHTS UPPER,33 EDUCATIONAL FACILITIES,4,2156,48,,W6,2520 AMSTERDAM AVENUE,,...,0,1,1,25875,140260,1967,4,W6,0,2017-04-21
18640,1,WASHINGTON HEIGHTS UPPER,33 EDUCATIONAL FACILITIES,4,2156,61,,W6,515 WEST 185 STREET,,...,0,1,1,2700,16262,2007,4,W6,0,2017-08-23
18641,1,WASHINGTON HEIGHTS UPPER,38 ASYLUMS AND HOMES,4,2156,71,,N2,536 W. 187TH STREET,,...,0,1,1,1444,3907,1920,4,N2,1100000,2017-09-07

In [7]:
## how about the data types of the columns? 

df_combine

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,1,ALPHABET CITY,01 ONE FAMILY HOMES,1,376,43,,S1,743 EAST 6TH STREET,,...,1,1,2,2090,3680,1940,1,S1,10,2011-08-26
1,1,ALPHABET CITY,02 TWO FAMILY HOMES,1,373,1,,S2,40 AVENUE C,,...,2,1,3,1923,4800,1901,1,S2,0,2011-12-21
2,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,372,31,,C3,316 EAST 3RD STREET,,...,4,0,4,5746,2700,1900,2,C3,3500000,2011-09-08
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,376,54,,C4,719 E 6TH ST,,...,16,0,16,3437,9180,1900,2,C4,2966835,2011-07-25
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,377,2,,C7,116 AVENUE C,,...,22,3,25,4510,19830,1900,2,C7,0,2011-06-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18637,1,WASHINGTON HEIGHTS UPPER,32 HOSPITAL AND HEALTH FACILITIES,4,2152,47,,I9,2414 AMSTERDAM AVENUE,,...,0,3,3,2500,3350,1902,4,I9,1375000,2017-12-08
18638,1,WASHINGTON HEIGHTS UPPER,33 EDUCATIONAL FACILITIES,4,2149,23,,W2,2495 AMSTERDAM AVENUE,,...,0,1,1,29775,253942,1969,4,W2,0,2017-04-21
18639,1,WASHINGTON HEIGHTS UPPER,33 EDUCATIONAL FACILITIES,4,2156,48,,W6,2520 AMSTERDAM AVENUE,,...,0,1,1,25875,140260,1967,4,W6,0,2017-04-21
18640,1,WASHINGTON HEIGHTS UPPER,33 EDUCATIONAL FACILITIES,4,2156,61,,W6,515 WEST 185 STREET,,...,0,1,1,2700,16262,2007,4,W6,0,2017-08-23
18641,1,WASHINGTON HEIGHTS UPPER,38 ASYLUMS AND HOMES,4,2156,71,,N2,536 W. 187TH STREET,,...,0,1,1,1444,3907,1920,4,N2,1100000,2017-09-07

In [8]:
## try looking at the first row value of each colun with the .iloc format

df_combine.iloc[]

SyntaxError: invalid syntax (1388166835.py, line 3)

## Good to know! loc vs iloc

* df.loc[ *rows* , *columns* ] - loc function is **inclusive** of the last value. 
<br>For example, df.loc[2:4 , 3:5] would show rows indexed 2-4, and columns indexed 3-5 

* df.iloc[ *rows*, *columns* ] - iloc function is **exclusive** of the last value.
<br>For example, df.iloc[2:4 , 3:5] would show rows indexed 2-3, and columns indexed 3-4

* fyi, range() is also **exclusive** of the last value.

In [ ]:
# select the last two rows and the last three columns using df.loc[]

In [ ]:
# I asked for the last two rows, but I got 14 rows. Why is that?
# How should we trouble shoot?

In [ ]:
# what happens if we run the code again?

#solution 1


#solution 2

In [ ]:
# what if we only want to see the first three rows and the columns "ZIP CODE", "TOTAL UNITS", "YEAR BUILT" 

## using df.loc[]


## solution #2

In [ ]:
## using df.iloc[]

df_reset.iloc[ ,  ]

In [ ]:
## what is the index of the column 'BLOCK'?

In [ ]:
## can you try listing out all of the columns from the dataframe again?

In [ ]:
STOP

In [ ]:
## How many columns and rows would you expect to see from the commands below?

df_reset.iloc[2:4, 0:3]

In [ ]:
df_reset.loc[2:4, df_reset.columns[0:3]]

## Exercise 1

The basics for any data management starts with data cleaning. 
<br>Is there any NA values, or wierd values that we see?

In [ ]:
df_reset.describe()

In [ ]:
## what do we want to filter for?

In [ ]:
df_zip = df_price.loc[df_price['ZIP CODE'] != 0]
df_zip

## Exercise 2

Currently we have the column 'SALE DATE' in YYYY-MM-DD format. 
<Br>After creating a separate column named 'Year' with only the years, find the average sales price per year. 
<br>Lastly, make a line plot that displays the average sales price per year

In [ ]:
## create a new column 'YEAR'
df_zip['YEAR'] =

In [ ]:
## check the data type of the new column
df_zip['YEAR'].dtype

In [ ]:
## check the average SALE PRICE per year

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df_zip['SALE PRICE'].describe()

In [ ]:
sns.set_style('whitegrid')

df_zip.groupby('YEAR')['SALE PRICE'].mean().plot(marker='v')

plt.xlabel("Year")
plt.ylabel("Average Sale Price")
plt.title("Average Sale Price by Year")
plt.show()

## Exercise 3

But wait! Did we check the univariate plots of the Sale Prices? 
<br>Try getting rid of outliers and replotting the graph - put the plots side by side with each other

In [ ]:
## We would define an outlier noramlly with values beyond 3 standard deviations 

mean_price = df_zip['SALE PRICE'].mean()
std_price = df_zip['SALE PRICE'].std()

## Create an equation to identify outliers

df_outliers = df_zip[df_zip['SALE PRICE'] > mean_price + 3 * std_price]

In [ ]:
## What would a dataframe without the outliers look like?

df_final = df_zip[df_zip['SALE PRICE'] <= mean_price + 3 * std_price]

In [ ]:
fig, ax = ## enter plots code here 

df_zip.groupby('YEAR')['SALE PRICE'].mean().plot(marker='v',
                                                 color = 'red',
                                                 ax = ax[0])
## (write code here) - X title for unfiltered df

df_final.groupby('YEAR')['SALE PRICE'].mean().plot(marker='v',
                                                   color = 'pink',
                                                   ax = ax[1])
## (write code here) - X title for filtered df

fig.supxlabel("Year")
fig.supylabel("Average Sale Price")

In [ ]:
## (write code here) - what if we want to have the shared y axis?

df_zip.groupby('YEAR')['SALE PRICE'].mean().plot(marker='v',
                                                 color = 'red',
                                                 ax = ax[0])

df_final.groupby('YEAR')['SALE PRICE'].mean().plot(marker='v',
                                                   color = 'pink',
                                                   ax = ax[1])

fig.supxlabel("Year")
fig.supylabel("Average Sale Price")