# Week 1. Intro to Python


This week we will learn the basics of Python. You will explore different data structures within the python environment, how to build if/then statements, for loops, and functions.

## 1.1 Google Colab notebooks

We will be working primarily in Google Colab in this course. What we are in now is called a notebook. You can see the top that has the file extension ".ipynb", meaning python notebook.

There are two types of blocks: code and text. This is a text block, also called markdown. You can use markdown language in a variety of places, including WhatsApp to modify text!

Double click on this box to see the original markdown language. You can add **bold text** or *italicized text*. You can specify headings using # symbols like this:
# Heading 1
## Heading 2
### Heading 3

These code block sections are helpful to demarcate different sections in your scripts.

To "run" a block, either code or text, hit Shift+Enter.

The other type of block is a code block, which is below. When you run a code block, python runs in the background on what you add in to it.

In [ ]:
# You can still add text into a code block by using a comment. These start with a #
## You can add as many #s as you want, but they must start the line to be a comment
"""
For large blocks of text, you can also add a comment with three single or double quotes.
Which ever quote you use to define the comment, you cannot use one on the inside.
For example, if I add an apostrophe ', the comment is maintained.
Large comment blocks like this will be printed below the cell when you "run" it
"""

# It is best practice not to have comment lines run past this grey vertical line.

In [ ]:
# Comments are important inside the code block as well because they can remind you
# of why you wrote that code in the first place!

# Notice how when you "run" a code block, a little green arrow appears to the left
# This means the code ran successfully

# If it has an error, a red circle with an ! inside will appear and the error will
# show up below the cell.

## 1.2 Python Syntax

In programming there are different types of code.

In [ ]:

# This is a string. It is defined by quotes on either side. They can be ' ' or " " quotes.
# Like block comments, if you use a " " then you can't have any " inside.
# Same with using ' ', you can't have any ' inside the string.
"Hello World"

In [ ]:

# This is a float, short for floating point decimal. It is a number that has decimal places
4.6

In [ ]:

# This is an int, short for integer. It is a number that does not have decimal places.
5

In [ ]:

# This is a bool, or a logical character. There are only two options, True or False.
# Only the last thing in the cell will be printed out.
True
False

In [ ]:
# If you want to print something specific in the cell that isn't the last item
# You can add print() and the object inside
print(True)
print(False)

In [ ]:
# Most of the time you want to save your information so you can reuse it.
# This is called a variable. You define a variable with this: =
x = 5

# Now, we have a variable called "x" that is saved in our environment to the right.
# When we run x, we get the value we set it as
x

In [ ]:
# This will stay until it is overwritten, then the new value will stay.
# Change x to a few different code types and see how it changes the next cell
x = True

In [ ]:
x

In [ ]:
# You can check the type of variable by calling:
type(x)

In [ ]:
# You can also change the type of variable, when it makes sense
print(int(4.1)) #turn float of 4.1 into an integer
print(float(3)) # turn integer of 3 into a float
print(int("4")) # turn string of 4 into an integer
print(str(4)) # turn integer of 4 into a string

In [ ]:
# Variable names cannot have spaces. You can replace the space in a few ways:
## Camel case (old school) is lower case, then upper case.
newVariable = 5

## With a _ in between
new_variable = 10

In [ ]:
## YOUR TURN
## Set a variable called "myVar" to 25 and another called "my_var" to your name.

## 1.2 Computations with Variables

Much of what we do in programming is a form of math! You can perform mathematical operations on your variables.

In [ ]:
# Addition
5+2

In [ ]:
#Subtraction
5-2

In [ ]:
# Multiplication
10 * 2

In [ ]:
# Division
10 / 2

In [ ]:
#Exponents
5 ** 2 #5 to the 2nd, or 5 squared

In [ ]:
# Use parentheses to maintain order of operations
((6*2)+3)/3

In [ ]:
## YOUR TURN
## Set variable new_number equal to the value of:
## start with 25. Add 15. Subtract 3. Multiply by -4.

## 1.3 Conditions

In [ ]:
# You can test conditions of truth to get logical variables
print(4 > 3) # is 4 greater than 3?
print(4 == 3) # Is 4 equal to 3?
print(4 >= 3) # is 4 greater than or equal to 3? The = always comes second
print(4 != 3) # is 4 NOT equal to 3? In general, ! means "not" or negation

In [ ]:
# You can stack these conditions using AND and OR
# Remember to use parentheses to keep the code clear and clean!
# AND
print(True and True)
print(True and False) # The order does not matter
print(False and False)
print((4 > 3) and (2 > 1))

In [ ]:
# OR
# Checks if at least one of the items or conditions is true
print(True or True)
print(True or False)
print(False or False)
print((4 > 3) or (1 > 2))

You can then build if/then statements to set new variables.

An if/then statement has this structure.



```
if [insert condition]:
  indent next line, what you want to happen
elif [insert condition]:
  indent next line, what you want to happen
else:
  indent next line, what you want to happen
```

elif means "else if". You can have as many of these as you want, but you can only have one "if" and one "else".

Essentially, you are saying, if (**if**) this condition, then do A, or if (**elif**)this condition, do B, or if (**elif**) this condition, do C, etc, etc, until finally you say, if none of the above (**else**), do condition Z.

In [ ]:
# See this example
# We are checking if a is greater than b, equal, or something else.
a = 10
b = 12
if a > b:
  y = "a is greater than b"
elif a == b:
  y = "b is equal to a"
else:
  y = "b is greater than a"
print(y)

In [ ]:
## YOUR TURN
## Create an if/then statement to test whether the day of the month you were born
## is greater than 15. If so, set variable isOlder to True. Otherwise, False.

In [ ]:
## YOUR TURN
## Create an if/then statement to test whether the day of the month you were born
## is greater than 15 AND the number month your were born is greater than 6.
## If so, set variable isOlder to True. Otherwise, False.

## 1.4 Complex Structures

In [ ]:
# You can also define a list of things using brackets []
test_list = [1,2,3,4]
print(test_list)

In [ ]:
# The list can include numbers or strings
fruits = ["banana", "orange", "strawberry", "dragonfruit", "pineapple"]
numbers =[12,3,5,6,9,23,5,-1]

print(fruits)
print(numbers)

In [ ]:
# You can set a range automatically. For example, from 1 through 5
# In python, the last number of the range will not be included
# You are saying start from 1 and run UP TO 5, but not including 5
rangelist = range(1,5) #These must be integers
print(rangelist)

rangelist = range(1, 10, 2) # sets the start, end, and how many to count by
print(rangelist)

In [ ]:
# You can find the length of it
len(fruits)

In [ ]:
# You can access the i-th element of the list. The values range from 0 to length of list
print(fruits[0]) # 1st element
print(fruits[-1]) # negative means count backwards. This is the last element
print(fruits[0:2]) #1st element UP TO the 3rd element. Remember, python starts at 0!

In [ ]:
## YOUR TURN
## set a variable myList to the months of the year.
## Then set a variable thisMonth by accessing the correct index of the list

In [ ]:
# The last data structure we will introduce this week is called a dictionary
# A dictionary is also called a named list. This allows you to set multiple variables
# to one meta-variable.

# For example, here is a dictionary that describes me:
# The structure is {key : value, key2 : value2}
profLore = {'firstName': "Madison",
  'lastName': "Lore",
  'officeNum': 219,
  'favoriteFoods': ["Falafel", "Pasta", "Butternut Squash"]}

# Now we can get specific information about me by using $ or [[ ]]
profLore['firstName'] # here you have to put the key in quotes

In [ ]:
## YOUR TURN
## Create a dictionary that describes one of your classes.
## Include the Profs name, the class days, the classroom number, and anything else fun!

## 1.5 Loops

Loops are an essential part of programming. They allow you to cycle through a list of things of any length and apply some operation to them.

There are four essential parts of a loop:
1. *for* : this signifies that you are going to begin iterating through a loop
2. *iterator* : this is a temporary variable which will represent each iterative value
3. *range* : this is the things you want to iterate through
4. *operation* : this is what you will do in each iteration

Somewhat similar to if/then statements, the structure is:



```
for iterator in range:
  indent next line, complete operation
```

In [ ]:
for x in range(10): #x is the iterator, and range(10) is the range
  print(x) #print(x) is the operation. It says print the value of x to the console

In [ ]:
fruits = ["banana", "orange", "strawberry", "dragonfruit", "pineapple"]
for fruit in fruits: #fruit is the iterator, and fruits is the range
  print(fruit) #print(fruit) is the operation. It says print each fruit in the list to the console

In [ ]:
# You can combine for loops with other skills! For example, if/else conditions
# Here we will only print out values greater than 5
for x in range(10): # x is the iterator, and 1:10 is the range
  if x>5: #we are testing if x is greater than 5
    print(x) #this is the operation, we print it to the console
  else: #if x is not greater than 5
    continue # we continue to the next value in the range

***Tip:*** ## Everytime you use a : , the next line will be indented!

In [ ]:
## YOUR TURN
## Create a loop to go through the range 10 through 20. Multiply it by -1
## and print the result to the console.

## 1.5 Functions

Functions allow you to write a set of code that you want to reuse easily.

In [ ]:
# For example, imagine you wanted to add 5 to a bunch of variables
a = 6
b = 7
c = 8
a = a + 5
b = b + 5
c = c + 5

This would get annoying and cumbersome if you had too many to do.

Functions make this easier. The basics of a function are:
1. *input* - the variable(s) you want to use to make a change
2. *output* - the variable(s) that come out the other side
3. *steps* - the things you need to do to get the input into the output

The basic structure is:



```
def function_name(input1, input2):
  indent next line, add steps
  return(output)
```

In [ ]:
def addFive(input): # This takes in a variable which we call input, you can name this anything you want
  newvalue = input + 5 # Goes through the steps of adding 5 to the input
  newvalue = newvalue + 0 # You can add as many steps as you want
  return(newvalue) # Returns the output back to you

# Notice when you run it, nothing happens in the console and no new variables are created
# You need to now "call" the function for it to work!

In [ ]:
print(a)
print(addFive(a))
print(a) # Notice this doesn't change the variable "a".
a = addFive(a) # When you set "a" to the output of the function, it does change it!
print(a)

In [ ]:
# A function can have multiple inputs
def createAddress(house, street, city, state):
  sep = " "
  address = str(house) + sep +  str(street) + sep +  str(city) + sep + str(state)
  return(address)


myaddress = createAddress(219, "West Sibley", "Ithaca", "NY")
print(myaddress)

In [ ]:
# It is good practice to add a comment inside your function
# So you know what it does!

def createAddress(house, street, city, state):
  """
  This function takes in different parts of an address
  and concatenates them together with a space separator.
  """
  sep = " "
  address = str(house) + sep +  str(street) + sep +  str(city) + sep + str(state)
  return(address)


myaddress = createAddress(219, "West Sibley", "Ithaca", "NY")
print(myaddress)

In [ ]:
# You can also have multiple outputs
def createAddress(house, street, city, state):
  sep = " "
  address = str(house) + sep +  str(street) + sep +  str(city) + sep + str(state)
  citystate = str(city) + sep + str(state)
  return address, citystate #separate the outputs with a comma

myaddress, mycity = createAddress(219, "West Sibley", "Ithaca", "NY")
print(myaddress)
print(mycity)

In [ ]:
## YOUR TURN
## Create a function that takes in the length and width of a residential lot in ft
## And returns the area if the lot has a 1 foot thick fence running around the whole thing

In [ ]:
## YOUR TURN
## Create a variable called lot1 which calls your function on a lot that is 25 ft wide and 10 ft long

## Create a variable called lot1 which calls your function on a lot that is 41 ft wide and 11.2 ft long